
  
  <div class="row" style="height:270px ;background-image: url(<%= image_path 'Banner.jpg' %>)">
    <div class="col-4">
    </div>
    
    <div class="col-8">
    <div class="card" style="width: 39rem; margin-top:20px; margin-bottom:20px">
      <div class="card-body">
        <h5 class="card-title">Listo pedido ingresado!</h5>
        <p class="card-text">Tu pedido Esta en proceso de confirmacion, te hemos mandado un mail , una vez que se acepte el deposito podras ver el estado de tu pedido en la pagina principal!</p>

        <%= link_to "Pagina principal", root_path,class: ["btn", "btn-primary"]%>
      </div>
    </div>
    </div>

  </div>
</div>